.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
  gap: 3rem;
}

.h1 {
  grid-column: 1/3;
  text-align: center;
}
.sellerCard {
  padding: 1.75rem;
  font-size: 0.8rem;
  background-color: var(--dusty-aqua-light);
  border-radius: 15px;
  box-shadow: 4px 4px 4px var(--dusty-aqua);
}

.sellerCard h2 {
  grid-column: 1/3;
}

.seller {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.75rem;
}

.oneField {
  display: flex;
  border-bottom: 1px solid var(--dusty-blue-light);
  justify-content: space-between;
  align-items: center;
}

.oneBuyer {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}

.buyersCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .layout {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
